{% extends "baseRusc.html" %}
{% load static %}
{% block headers %}
        <link rel="stylesheet" type="text/css" href="{% static 'llistasResponsive.css' %}">
{% endblock %}
{% block content %}

    <h1>{{ cela.pregunta }}</h1>
    <br />
    <h4>{{ cela.descripcio }}</h4>
    <div id="content">
        <h3>Etiquetas</h3>
            <div class="columns">
            <ul>
            {% for etq in llistat_etq %}
                <li>
                    <a href="{% url "rusc.etiqueta" etq.pk %}" class="btn btn-default btn-xs">
                        <span class='glyphicon glyphicon-tag'>
                        {{ etq.nom }}
                    </a>
                </li>
            {% endfor %}
            </ul>
            </div>
    </div>

    <div id="content">
        <h3>Usuaris</h3>
        <ul>
            <div class="columns">
            <ul>
            {% for user in llistat_usuaris %}
                <li>
                    <a href="{% url "perfil_user" user.pk %}" class="btn btn-default btn-xs">
                        <span class='glyphicon glyphicon-user'>
                        {{ user.user }}
                    </a>
                </li>
            {% endfor %}
            </ul>
            </div>
        </ul>.
    </div>

{#    #Todo Modificar això per tal de que sigui choerent:#}
{#    si el usuari es membre de la cela pot entrar,#}
{#    si no ho es y es publica pot entrar, #}
{#    si el usuari no es mebre i es publica pot entrar#}
{#    si el usuari no es mebre i es registrada no pot entrar#}
{#    si el usuari no es mebre i es Privada, no es pot veure la informació #}
    {% if cela.tipus != 'P' %}
        Solicitar entrada acceso a la red: <a href="{% url 'acces_cela' %}" class="btn btn-primary">Solicitar Acceso</a>
    {% else %}
        <a href="{% url 'forum' %}" class="btn btn-primary" > Entrar </a>
    {% endif %}



{% endblock %}