{% extends "baseRusc.html" %}
{% load static %}
{% block headers %}
        <link rel="stylesheet" type="text/css" href="{% static 'llistasResponsive.css' %}">
{% endblock %}
{% block content %}

    <h1>{{ cela.pregunta }}</h1>
    <br />
    <h4>{{ cela.descripcio }}</h4>

    <div id="content">
        <h3>Temas</h3>
            <div class="columns">
            <ul>
            {% for tema in llistat_temas %}
                <li>
                    <span class='glyphicon glyphicon-tag btn btn-primary btn-xs'>
                        {{ tema.nom }}
                    </span>
                </li>
            {% endfor %}

            </ul>
            </div>
    </div>
    <div id="content">
        <h3>Etiquetas</h3>
            <div class="columns">
            <ul>
            {% for etq in llistat_etq %}
                <li>
                    <a href="{% url "etiqueta" etq.pk %}" class="btn btn-default btn-xs">
                        <span class='glyphicon glyphicon-tag'>
                        {{ etq.nom }}</span>
                    </a>
                </li>
            {% endfor %}

            </ul>
            </div>
    </div>

    <div id="content">
        <h3>Usuaris</h3>
        <ul>
            <div class="columns">
            <ul>
            {% for user in llistat_usuaris %}
                <li>
                    <a href="{% url "perfil_user" user.pk %}" class="btn btn-default btn-xs">
                        <span class='glyphicon glyphicon-user'>
                        {{ user.user }}</span>
                    </a>
                </li>
            {% endfor %}
            </ul>
            </div>
        </ul>.
    </div>


    {% if cela.tipus != 'P' %}
        <form id="formInfo" method="post" action="{% url 'acces_cela' %}" class="form" >{% csrf_token %}
        <p>Per tal de solicitar accés a aquesta xarxa es necessari omplir aquestes dades:</p>
            <div class="table-responsive">
                <table class="table">
                    {% for dato in infoRequired %}
                        <tr>
                            <td><label>{{ dato }}</label></td><td><input type="text" name="txt_{{ dato }}" /> </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
                    <p class="submit"><input type="submit" class="btn btn-primary" value="Solicitar acceso"></p>
        </form>
{#        Solicitar entrada acceso a la red: <a href="{% url 'acces_cela' %}" class="btn btn-primary">Solicitar Acceso</a>#}
    {% else %}
        <a href="{% url 'forum' %}" class="btn btn-primary" > Entrar </a>
    {% endif %}



{% endblock %}