{% extends "baseRusc.html" %}

{%  block content %}
    <br />
    <br />
    <br />
    <br />
    <br />


    <div style="text-align: center;">
        <h1> Construcciones virtuales organizadas para generar y gestionar conocimiento en red. </h1><br />
        <i> aprendizaje en red, metodologias, elaboración y/o ejecución de proyectos, reorganización social de lineas de negocio </i><br />
        <br />
        <br />
        <b><a href="{% url 'cela_nova' %}" class="btn btn-primary btn-lg"  style="height: 120px;width: 380px; font-size: 70px;"> Nueva Red</a></b>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

{{  celas }}
{#    {% for cela in celas %}#}
{#      <div class="col-sm-6 col-md-4">#}
{#        <div class="thumbnail" >#}
{#          <div class="caption">#}
{#            <h3><a href="{% url 'cela'  cela.pk  %}" > {{ cela.pregunta }} </a></h3>#}
{#            <p>{{ cela.descripcio }}</p>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#    {% endfor %}#}

{% endblock %}
