{% extends "base.html" %}
{% load staticfiles %}
{% csrf_token %}
{% block headers %}
    <script src="{% static 'js/vote.js' %}"></script>
{% endblock %}
{% block content %}

    <a class="button" href="{% url 'post_nou'  %}">Nou post</a>
    <br />
        <div class="table-responsive">
        <table class="table table-striped">
        <thead>
                <tr>
                    <th>Vots</th>
                    <th>Post</th>
                    <th>Text</th>
                    <th>Etiquetes</th>
                </tr>
            </thead>
        {% for post in posts %}
        <tr>
            <td>
                    <form method="post" action="{% url 'vote' %}" class="vote_form">

                         [{{ post.votes }}]

                        {% csrf_token %}
                         <input type="hidden" id="id_post" name="post" class="hidden_id" value="{{ post.pk }}" />
                         <input type="hidden" id="id_voter" name="voter" class="hidden_id" value="{{ user.pk }}" />
                         {% if not user.is_authenticated %}
                            <button disabled title="Identificat per votar">+</button>
                         {% elif post.pk not in voted %}
                            <button class="btn-primary btn-sm">+</button>
                         {% else %}
                            <button class="btn-primary btn-sm">- </button>
                         {% endif %}
                    </form>

            </td>
            <td>
                <a href="{% url 'post' post.pk  %}"> ({{ post.pk }}) </a>
                <b><a href="{% url 'post' post.pk  %}"> {{ post.titol }}</a></b> {{ post.autor }}

                <a class="button" href="{% url 'post_respon' post.pk  %}">Comentar</a>
            </td>
            <td>
                {{ post.text|slice:":60" }}
            </td>
            <td>

                {% for etiqueta in post.etiquetes.all %}
                    <a href="{% url 'etiqueta' etiqueta.pk  %}" class="btn btn-warning"> {{ etiqueta.nom}}</a>
                {% endfor %}

            </td>
        </tr>
        {% endfor %}
        </table>
        </div>



{% endblock %}