{% extends "base.html" %}

{% block content %}

    {% if user in cela.moderadors.all %}
        <a href="{% url 'faq_nova' %}" class="btn btn-primary">Nova Pregunta</a>
        <br />
    {% endif %}

    <br />

    {% if  faqs.count < 1  %}
        Todavia no hay FAQ, solicita al moderador tus preguntas. <br />
        Los moderadores de esta red son:
        <ul>
        {% for moderador in cela.moderadors.all %}
            <li>
                <a href="{% url 'perfil_user' moderador.pk %}" class="btn btn-default" ><span class='glyphicon glyphicon-user'> </span> &nbsp;{{ moderador }}</a> <br />
            </li>
        {%  endfor %}
        </ul>
    {% endif %}
    {% for faq in faqs %}
        <b>{{ faq.text }}</b>
        {% if user in cela.moderadors.all %}
            <a href="{% url 'faq_modif' faq.id %}"> <span class='glyphicon glyphicon-pencil'></span></a>
        {% endif %}
        <br />
        {{ faq.answer }}
        <br />
        <br />
    {% endfor %}

{% endblock %}