{% extends "base.html" %}
{% load staticfiles %}
{% csrf_token %}
{% block headers %}
    <script src="{% static 'js/check_all.js' %}"></script>
{% endblock %}
{% block content %}

    <form name="frm_acceptusers" action="" method="post">{% csrf_token %}
        <div class="input-group" >
             <div class="btn-group" >
                 <select name="slc_modaction" class="form-control nonfluid">
                     <option value="A">Acceptar</option>
                     <option value="R">Rebutjar</option>
                     <option value="T">Troll</option>
                 </select>
             </div>
            <input type="submit" value="GO" class="btn-primary btn" />
        </div>

        <div class="table-responsive">
        <table class="table table-striped nonfluid">
            <thead>
                <tr>
                    <th><input type="checkbox" class="chk_all" name="chk_all" /></th>
                    <th>User</th>
                    <th>LastName</th>
                    <th>Web</th>
                    <th>Estat</th>
                    <th>TipusS</th>
                    <th>MailC</th>
                </tr>
            </thead>
        {% for usuari in usuaris %}
            <tr>
                <td>
                    <input type="checkbox" name="chk_usuaris" value="{{ usuari.pk }}" />
                </td>
                <td>
                    <b><a href="{% url 'perfil' usuari.pk  %}"> {{ usuari.user.username }}</a></b>
                </td>
                <td>
                     {{ usuari.user.last_name }}
                </td>
                <td>
                    {{ usuari.website }}
                </td>
                <td>
                    {{ usuari.estat }}
                </td>
                <td>
                    {{ usuari.tipusSubscripcio }}
                </td>
                <td>
                    {{ usuari.mailConf }}
                </td>
            </tr>
        {% endfor %}
        </table>
        </div>

    </form>
    

{% endblock %}