{% extends "base.html" %}
{% csrf_token %}
{% block content %}

    <input type="checkbox" name="chk_all" />
    <form name="frm_modepost" action="" method="post">{% csrf_token %}

         <select name="slc_modaction">
          <option value="A">Acceptar</option>
          <option value="R">Rebutjar</option>
        </select>
        <input type="submit" value="GO" />
        {% for post in posts %}
            <div class="row">
                <div class="col-md-1">
                    <input type="checkbox" name="chk_post" value="{{ post.pk }}" />
                </div>
                <div class="col-md-2">
                    <a href="{% url 'post' post.pk  %}"> ({{ post.pk }}) </a>
                    <b><a href="{% url 'post' post.pk  %}"> {{ post.titol }}</a></b> {{ post.autor }}
                </div>
                <div class="col-md-2">
                    {{ post.text}}
                </div>
                <div class="col-md-2">
                    {% for etiqueta in post.etiquetes.all %}
                        {{ etiqueta.nom}}/{{etiqueta.descripcio}}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}


    </form>
    

{% endblock %}