{% extends "base.html" %}
{% load staticfiles %}
{% load micawber_tags %}
{% block headers %}

    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script src="{% static 'js/custom-formset.js' %}"></script>
    <link href="{% static 'css/select2.min.css' %}" rel="stylesheet" />
    <script src="{% static 'js/select2.js' %}"></script>
    <script src="{% static 'js/extracioLinks.js' %}"></script>

{% endblock  %}
{% block content %}
    <h4>Nuevo mensaje en la zona de debate:</h4>
    <script type="text/javascript">
    $( document ).ready(function() {
        /* Script per convertir el multifield en select2*/
        $(".etiquetes").select2({tags: true});
        /* Script per proposar les etiquetes si apareix la una paraula  que previament ja sigui una etiqueta al text*/
        $('.id_text').on("keydown", function (e) {
            var etqProp = new Array;
            var paraula;
            var text = $('#id_text').val();
            var etiquetas = "{{etiquetas|safe}}";
            var words = /(\w+)/g;

            //cicle que llegeix el text i proposa etiquetes segons les paraules
            while (proposades = words.exec(text)) {
                paraula = proposades[0];
                etqProp.push(paraula);
            }
            if (etqProp.length > 0) {
                var div_proposta_etq = document.getElementById("div_proposta_etq");
                $("#div_proposta_etq").empty();
                var jaProposades = {};
                //Recogemos las oopciones selecionadas
                var selected = $(".etiquetes option").filter(':selected');

                //Les etiquetes proposades ja al Select2
                var data = $(".etiquetes").select2('data');
                if (data.length> 0 ){
                    for(j=0; j<data.length; j++){
                        //alert(data[j].text);
                        jaProposades[data[j].text]= ""
                    }
                }

                for (i = 0; i < etqProp.length; i++) {
                    if (etqProp[i] in {{etiquetas|safe}} && (!(etqProp[i] in jaProposades))) {
                        //Afegim la etiqueta proposada al dicionari
                        jaProposades[etqProp[i]] ="";
                        //regogemos las etiquetas de la cela
                        $dict = {{etiquetas|safe}};

                        btnetq = document.createElement('input');
                        btnetq.className = "btn btn-default btn-xs";
                        btnetq.name = "etq_prp_" + i;
                        btnetq.type = "button";
                        btnetq.value = etqProp[i];
                        btnetq.id = $dict[etqProp[i]];
                        btnetq.onclick = function(event){
                            //alert("Has pres el botó "+event.target.id);
                            var select = $('.etiquetes');
                            var option = $('<option></option>').
                                 attr('selected', true).
                                 text(event.target.value).
                                 val(event.target.id);
                            /* insert the option (which is already 'selected'!) into the select */
                            option.appendTo(select);
                            /* Let select2 do whatever it likes with this */
                            select.trigger('change');
                            //Un cop pres, l'amagem.
                            document.getElementById(event.target.id).classList.add('hide');
                        };

                        var icon = document.createElement("span");
                        icon.className = "control glyphicon glyphicon-tag";

                        btnetq.appendChild(icon);
                        div_proposta_etq.appendChild(btnetq);
                    }
                }

            }
        });
    });
    </script>

    {% for post in reply_root %}
            {% for branch, obj in post.as_tree %}
                {% if obj %}
                    <li>
                        {# ToDo El if ha de trencar el Branch i no deixar d emostrar el titol  #}
                        {% if obj.pk <= id_pare %}
                          {{ obj.titol }}

                        {% endif %}
                    {% if branch %}
                        <ul>
                    {% else %}
                    </li>
                    {% endif %}
                {% else %}
                    {% if branch %}
                        </ul>
                    {% endif %}
                {% endif %}
            {% endfor %}
    {% endfor %}

    <form id="MyForm" method="post" action="">
        {% csrf_token %}
        {{ formPost.as_p }}
        <div id="div_proposta_etq"></div>
        <table>
        <div id="div_recursos"></div>
        <table>
        <tbody>
        {% for recurs_form in recurs_formset %}

            <div  class="recurs-formset" >
                <tr>
                <td>
                {{ recurs_form.descripcio }}
                {% if recurs_form.anchor.errors %}
                    {% for error in recurs_form.anchor.errors %}
                        {{ error|escape }}
                    {% endfor %}
                {% endif %}
                </td>
                <td>
                {{ recurs_form.url }}
                {% if recurs_form.url.errors %}
                    {% for error in recurs_form.url.errors %}
                        {{ error|escape }}
                    {% endfor %}
                {% endif %}
                </td>
{#                <td>#}
{#                    {{ recurs_form.etiquetes }}#}
{#                    {% if recurs_form.anchor.errors %}#}
{#                        {% for error in recurs_form.anchor.errors %}#}
{#                            {{ error|escape }}#}
{#                        {% endfor %}#}
{#                    {% endif %}#}
{#                </td>#}
                </tr>
            </div>
        {% endfor %}
        </tbody>
        </table>

        {{ recurs_formset.management_form }}
        {% if recurs_formset.non_form_errors %}
            {% for error in link_formset.non_form_errors %}
                {{ error|escape }}
            {% endfor %}
        {% endif %}
        <div id="links_results"></div>
        <p class="submit"><input type="submit" class="btn btn-primary" value="OK"></p>
    </form>



{% endblock %}
