{% extends "base.html" %}
{%  load staticfiles %}
{% block headers %}
{% endblock %}

{% block content %}


    <div class="row">
        <div class="col-md-2"><h4>ETQ</h4></div>
        <div class="col-md-2"><h4>TIPO</h4></div>
        <div class="col-md-2"><h4>DESC</h4></div>
        <div class="col-md-2"><h4>OBLI</h4></div>
        <div class="col-md-2"><h4>HINT</h4></div>
    </div>

    {%  for ficha in fichas %}
        <div class="row">
            <div class="col-md-2">{{ ficha.etq }}</div>
            <div class="col-md-2">{{ ficha.tipo }}</div>
            <div class="col-md-2">{{ ficha.descrip }}</div>
            <div class="col-md-2">{{ ficha.obliatorio }}</div>
            <div class="col-md-2">{{ ficha.hint }}</div>
        </div>
    {% endfor %}
{% endblock %}