{% extends "base.html" %}
{%  load staticfiles %}
{% block headers %}

    <link href="{% static 'css/django-admin-widgets.css' %}" rel="stylesheet">
    <script  src="{% static 'js/django-admin.multiselect.js' %}" ></script>
    <script  src="{% static 'js/m2m.js' %}" ></script>


    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script src="{% static 'js/custom-formset.js' %}"></script>

    <link href="{% static 'css/select2.min.css' %}" rel="stylesheet" />
    <script src="{% static 'js/select2.js' %}"></script>

{% endblock %}

{% block content %}
        <script>
            $( document ).ready(function() {
                $("#etiquetes").select2();
            });
        </script>


        <form action="" enctype="multipart/form-data" method="post" >{% csrf_token %}
            <p><i>*Només pot existir una ficha per cada etiqueta de tipus 'M'</i></p>
            <h4>FICHA SOBRE LA ETIQUETA:</h4>
            <select name="ddl_ficha" id="etiquetes" style="width: 160px">
                {% for etq in options %}
                     <option value="{{ etq.pk }}">{{ etq }}</option>
                {% endfor %}
            </select>

            <div class="row">
                    <div class="col-md-2"><h4>Tipologia Dato</h4></div>
                    <div class="col-md-2"><h4>Descripcion</h4></div>
                    <div class="col-md-2"><h4>Obligatorio</h4></div>
                    <div class="col-md-2"><h4>Ayuda</h4></div>
            </div>
            {% for ficha_form in fichas_formset %}
                <div class="ficha_form">
                    <div class="row">
                        <div class="col-md-2">{{ ficha_form.tipo }}</div>
                        <div class="col-md-2">{{ ficha_form.descrip }}</div>
                        <div class="col-md-2">{{ ficha_form.obliatorio }}</div>
                        <div class="col-md-2">{{ ficha_form.hint }}</div>
                    </div>
                </div>
            {% endfor %}
            {{ fichas_formset.management_form }}
        <br/>
            <input type="submit" class="btn btn-primary btn-lg" value="NovaFicha" />
        </form>


       <script>
        $('.ficha_form').formset({
            addText: 'Añadir información a la Ficha',
            deleteText: 'Eliminar'

        });
    </script>
{% endblock %}