{% extends "base.html" %}
{% load staticfiles %}
{% csrf_token %}
{% block headers %}
    <script src="{% static 'js/vote.js' %}"></script>
{% endblock %}
{% block content %}



<div id="recurs_wraper" style="display: inline-block; margin:20px; ">

        <div id="div_etiqueta"  style="float: left; border: 2px solid #0E0E0E;">
            <div style="margin: 30px">
            <h3>Etiqueta: "{{ etiqueta.nom }}"</h3><br />
               <a href="{{ etiqueta.wiki }}">{{ etiqueta.wiki }}</a>
            </div>
        </div>

        <div id="div_relacions_etiquetes"  style="float: left; border: 2px solid #0E0E0E; margin-left: 30px;" >
           <div style="margin: 30px">
              <h3>Etiquetes relacionades:</h3> <br />
                <div class="table-responsive">
                <table class="table-striped">
                <thead>
                <tr>
                    <th>Node Fort &nbsp;</th>
                    <th>Node dèbil  &nbsp;</th>
                    <th>Tipus vincle &nbsp; </th>
                </tr>
                </thead>
               {% for tesauro in tesauros %}
                   <tr>
                   <td>{{ tesauro.etq1 }}</td>
                    <td>{{ tesauro.etq2 }}</td>
                    <td>{{ tesauro.tipo }}</td>
                   </tr>
               {% endfor %}
                </table>
                </div>
           </div>
        </div>
    </div>


      <h3>Post Relacionats:</h3>
     <br />

        <table class="table table-striped">
        {% for post in posts_relacionats %}
        <tr>
            <td>
                    <form method="post" action="{% url 'vote' %}" class="vote_form">

                         [{{ post.votes }}]

                        {% csrf_token %}
                         <input type="hidden" id="id_post" name="post" class="hidden_id" value="{{ post.pk }}" />
                         <input type="hidden" id="id_voter" name="voter" class="hidden_id" value="{{ user.pk }}" />
                         {% if not user.is_authenticated %}
                            <button disabled title="Identificat per votar">+</button>
                         {% elif post.pk not in voted %}
                            <button>+</button>
                         {% else %}
                            <button>-</button>
                         {% endif %}
                    </form>

            </td>
            <td>
                <a href="{% url 'post' post.pk  %}"> ({{ post.pk }}) </a>
                <b><a href="{% url 'post' post.pk  %}"> {{ post.titol }}</a></b> {{ post.autor }}

                <a class="button" href="{% url 'post_respon' post.pk  %}">Comentar</a>
            </td>
            <td>
                {{ post.text|slice:":60" }}
            </td>
            <td>

                {% for etiqueta in post.etiquetes.all %}
                    {{ etiqueta.nom}}/{{etiqueta.descripcio}}
                {% endfor %}

            </td>
        </tr>
        {% endfor %}
        </table>

{% endblock %}