{% extends "base.html" %}
{%  load staticfiles %}
{% block headers %}

    <link href="{% static 'css/select2.min.css' %}" rel="stylesheet" />
    <script src="{% static 'js/select2.js' %}"></script>
    <script>
        $( document ).ready(function() {
            $(".etiquetes").select2({tags: true});
        });
    </script>

{% endblock %}
{%  block content %}
    <h4>Creación de recuros</h4>
    <p>Escoge una ficha para crear un recurso, para asociar un recurso a una zona, tendrás quie ponerle la etiqueta que lleva su nombre..</p>
    <form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
        {{ formRecurs.as_p }}
        <div class="table-responsive">
            <table class="table">
            {% for campo in fichas %}
                 <tr>
                    <td><label>{{ campo.descrip }}</label></td><td><input title="{{ campo.hint }}" type="text" name="txt_{{ campo.pk }}" {% if campo.obliatorio %}required{% endif %}/> </td>
                 </tr>
            {% empty %}


            {% endfor %}
            </table>
        </div>

        <input type="submit" value="Create new Resource" class="btn-primary btn-lg" />
    </form>
{% endblock %}