{% extends "base.html" %}
{%  load staticfiles %}
{% block headers %}


    <script src="{% static 'js/d3.js'%}"></script>
<style>


.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

</style>

{% endblock %}
{% block content %}

    This is the visualitzation
<div class="chart"></div>

<script>

var data  = {{ data|safe }};

var x = d3.scale.linear()
    .domain([0, d3.max(data)])
    .range([0, 200]);

d3.select(".chart")
  .selectAll("div")
    .data(data)
  .enter().append("div")
    .style("width", function(d) { return x(d) + "px"; })
    .text(function(d) { return d; });

</script>
<ul>
{% for da in data %}
    <li>{{ da|safe }}</li>
{% endfor %}
</ul>

{% endblock %}