{% extends "base.html" %}
{% load static %}
{% block content %}

    <h3>Perfil de <b>{{ user.username }}</b></h3>
    {% if perfilusuari.avatar %}
        <img src="{{ perfilusuari.avatar.url }}" alt="avatar" height="120" width="120">
    {% else %}
        <img src="{% static "images/pulpo.gif" %}" alt="avatar" height="120" width="120">
    {% endif %}

     <div>
      <strong>Menu:</strong>
      <ul>
        {% if user.is_authenticated %}
            <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
            <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
        {% else %}
            <li><a href="{% url 'account_login' %}">Sign In</a></li>
            <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </div>



    <br />
    <br />
    {% if up %}
    <div class="table-responsive">
        <table class="table">
            <tr>
                <td><b>Cela</b></td><td><b>TipusS</b></td><td><b>Tipus Enviament</b></td>

            </tr>
            {% for p in up %}
                <tr>
                <td><a href="{% url 'canviar_cela'  p.cela.pk  "opcions_user"  %}" title="Configuracio especifica de grup"> {{ p.cela }} <span class='glyphicon glyphicon-cog collapsed-element'></span> </a></td>
                <td>{{ p.get_tipusSubscripcio_display}}</td>
                <td>{{ p.get_mailConf_display}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {%  else %}
        <p>Encara no estás subscrit a cap RSVC <a href="#">Busca</a> o <a href="{% url 'cela_nova' %}">Crea</a> una xarxa</p>
    {% endif %}


{% endblock %}