{% extends "base.html" %}
{% load staticfiles %}
{% load micawber_tags %}
{% block headers %}

    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script src="{% static 'js/custom-formset.js' %}"></script>
    <script src="{% static 'js/jquery.oembed.js' %}"></script>

    <link href="{% static 'css/select2.min.css' %}" rel="stylesheet" />
    <script src="{% static 'js/select2.js' %}"></script>
    <script>
        $( document ).ready(function() {
            $(".etiquetes").select2({tags: true});
        });
    </script>

{% endblock  %}
{% block content %}

    {% for post in reply_root %}
            {% for branch, obj in post.as_tree %}
                {% if obj %}
                    <li>
                        {# ToDo El if ha de trencar el Branch i no deixar d emostrar el titol  #}
                        {% if obj.pk <= id_pare %}
                          {{ obj.titol }}

                        {% endif %}
                    {% if branch %}
                        <ul>
                    {% else %}
                    </li>
                    {% endif %}
                {% else %}
                    {% if branch %}
                        </ul>
                    {% endif %}
                {% endif %}
            {% endfor %}
    {% endfor %}

    <form id="MyForm" method="post" action="">
        {% csrf_token %}
        {{ formPost.as_p }}


        <table>
        <tbody>
        {% for recurs_form in recurs_formset %}

            <div  class="recurs-formset" >
                <tr>
                <td>
                {{ recurs_form.descripcio }}
                {% if recurs_form.anchor.errors %}
                    {% for error in recurs_form.anchor.errors %}
                        {{ error|escape }}
                    {% endfor %}
                {% endif %}
                </td>
                <td>
                {{ recurs_form.url }}
                {% if recurs_form.url.errors %}
                    {% for error in recurs_form.url.errors %}
                        {{ error|escape }}
                    {% endfor %}
                {% endif %}
                </td>
{#                <td>#}
{#                    {{ recurs_form.etiquetes }}#}
{#                    {% if recurs_form.anchor.errors %}#}
{#                        {% for error in recurs_form.anchor.errors %}#}
{#                            {{ error|escape }}#}
{#                        {% endfor %}#}
{#                    {% endif %}#}
{#                </td>#}
                </tr>
            </div>
        {% endfor %}
        </tbody>
        </table>
        {{ recurs_formset.management_form }}
        {% if recurs_formset.non_form_errors %}
            {% for error in link_formset.non_form_errors %}
                {{ error|escape }}
            {% endfor %}
        {% endif %}
        <table>
            <tbody>
            <tr>
                <td>
                    <div id="result1"></div>
                </td>
                <td>
        <div id="result2"></div>
                </td>
                <td>
        <div id="result3"></div>
                </td>
                <td>
        <div id="result4"></div>
                </td>
            </tr>
            </tbody>
        </table>

        <p class="submit"><input type="submit" class="btn btn-primary" value="OK"></p>
    </form>



{% endblock %}
