{% extends "base.html" %}
{% load staticfiles %}

{% block headers %}
    <link rel="stylesheet" type="text/css" href="{% static 'llistasResponsive.css' %}">
    <script src="{% static 'js/vote.js' %}"></script>
    <script src="{% static 'js/jquery.formset.js' %}"></script>

{% endblock %}
{% block content %}

    <h3><b>{{ profile.user }}</b></h3>
    <small><h4>{{ profile.cela }}</h4></small>
    {% if profile.avatar %}
        <img src="{{ profile.avatar.url }}" alt="avatar" height="120" width="120">
    {% else %}
        <img src="{% static "images/pulpo.gif" %}" alt="avatar" height="120" width="120">
    {% endif %}
    <br />
    {% for info in userInfo %}
        {{ info }} <br />
    {% endfor %}


    <h3>Estadisticas</h3>
    <div class="list-group">
        <div class="list-group-item">
            <b class="list-group-item-heading">nºMissatges Publicats:</b>
            <p class="list-group-item-text">{{ nMiss }}</p>
        </div>
        <div href="#" class="list-group-item">
            <h4 class="list-group-item-heading">nºRespostes:</h4>
            <p class="list-group-item-text">{{ nRes }}</p>
        </div>
        <div href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Antiguetat:</h4>
            <p class="list-group-item-text">{{ antig|timesince }}</p>
        </div>
    </div>





     <div id="content">
        <h3>Tags</h3>
            <div class="columns">
            <ul>
            {% for etq in etiquetes %}
                <li>
                    <a href="{% url "etiqueta" etq.pk %}" class="btn btn-default btn-xs">
                        <span class='glyphicon glyphicon-tag'>
                        {{ etq.nom }}
                    </a>
                </li>
            {% endfor %}
            </ul>
            </div>
    </div>

    Posts:
    <br />

    {% include "llistatPost.html" %}
    <table class="table table-striped">
    {% for post in posts_publicats %}
    <tr>
        <td>
            <a href="{% url 'post' post.pk  %}"> ({{ post.pk }}) </a>
            <b><a href="{% url 'post' post.pk  %}"> {{ post.titol }}</a></b> {{ post.autor }}

            <a class="button" href="{% url 'post_respon' post.pk  %}">Comentar</a>
        </td>
        <td>
            {{ post.text|slice:":60" }}
        </td>
        <td>

            {% for etiqueta in post.etiquetes.all %}
                <a href="{% url 'etiqueta' etiqueta.pk  %}" class="btn btn-warning"> {{ etiqueta.nom}}</a>
            {% endfor %}

        </td>
    </tr>
    {% endfor %}
    </table>


    <script>
        $('.userInfo_form').formset({
            addText: 'add Info',
            deleteText: 'remove'
        });
    </script>

{% endblock %}