{% extends "base.html" %}
{% csrf_token %}
{% block content %}

    <div id="recurs_wraper" style="display: inline-block; margin:20px; ">

        <div id="div_recurs"  style="float: left; border: 2px solid #0E0E0E;">
            <div style="margin: 30px">
            <h2>Recurs :</h2>
            {{ recurs.url }} <br />
            {{ recurs.descripcio }}<br />
            {{ recurs.datahora }}<br />
            {{ recurs.autor }}<br />
            {{ recurs.descripcio }}<br />
            {% if recurs.adjunt %}
                <br />
                <a href="{{ MEDIA_URL }}{{ recurs.adjunt.url }}" > Adjunt </a>
                <img src="{{ recurs.adjunt.url }}"> <br />
            {% endif %}
            <h4>Etiquetes:</h4>
            {% for etiqueta in recurs.etiquetes.all %}
                {{ etiqueta.nom}}/{{etiqueta.descripcio}}
            {% endfor %}

            </div>

        </div>

        <div id="div_debat_recurs"  style="float: left; border: 2px solid #0E0E0E; margin-left: 30px;" >
           <div style="margin: 30px">
              <h3>Debat recurs:</h3> <br />
              <ul style=" margin-left: -51px; ">

                {% for branch, obj in posts_debat.as_tree %}
                    {% if obj %}
                        <div class="div_coment">
                            <form method="post" action="{% url 'vote' %}" class="vote_form">

                                 [{{ obj.votes }}]

                                {% csrf_token %}
                                 <input type="hidden" id="id_post" name="post" class="hidden_id" value="{{ obj.pk }}" />
                                 <input type="hidden" id="id_voter" name="voter" class="hidden_id" value="{{ user.pk }}" />
                                 {% if not user.is_authenticated %}
                                    <button disabled title="Please login to vote">+</button>
                                 {% elif obj.pk not in voted %}
                                    <button>+</button>
                                 {% else %}
                                    <button>-</button>
                                 {% endif %}

                            ({{ obj.pk }}) <b>{{ obj.titol }}</b> {{ obj.pare_id }}
                            <a href="{% url 'perfil' obj.autor.pk %}"> {{ obj.autor }}</a>)<br />
                            {% for etiqueta in obj.etiquetes.all %}
                                {{ etiqueta.nom}}/{{etiqueta.descripcio}}
                            {% endfor %}
                            <a href="{% url 'post_respon' obj.pk  %}">Re</a>
                             {{ obj.text  }}

                            {% for recurs in obj.recursos.all %}
                                <br /><a href="http://{{ recurs.url}}"> {{ recurs.url}} </a> /
                                <a href="{% url 'recurs' recurs.pk %}"> {{recurs.descripcio}} </a>
                            {% endfor %}
                            </form>
                        </div>
                        {% if branch %}
                            <div class="div_coment">
                        {% else %}
                        {% endif %}
                    {% else %}
                        {% if branch %}
                             </div >
                        {% endif %}
                    {% endif %}
                {% endfor %}
              </ul>
           </div>
        </div>
    </div>

     <br />
     <br />
     <h3>Post Relacionats:</h3>
     <br />

        <table class="table table-striped">
        {% for post in posts_relacionats %}
        <tr>
            <td>
                    <form method="post" action="{% url 'vote' %}" class="vote_form">

                         [{{ post.votes }}]

                        {% csrf_token %}
                         <input type="hidden" id="id_post" name="post" class="hidden_id" value="{{ post.pk }}" />
                         <input type="hidden" id="id_voter" name="voter" class="hidden_id" value="{{ user.pk }}" />
                         {% if not user.is_authenticated %}
                            <button disabled title="Identificat per votar">+</button>
                         {% elif post.pk not in voted %}
                            <button>+</button>
                         {% else %}
                            <button>-</button>
                         {% endif %}
                    </form>

            </td>
            <td>
                <a href="{% url 'post' post.pk  %}"> ({{ post.pk }}) </a>
                <b><a href="{% url 'post' post.pk  %}"> {{ post.titol }}</a></b> {{ post.autor }}

                <a class="button" href="{% url 'post_respon' post.pk  %}">Comentar</a>
            </td>
            <td>
                {{ post.text|slice:":60" }}
            </td>
            <td>
                {% for etiqueta in post.etiquetes.all %}
                    {{ etiqueta.nom}}/{{etiqueta.descripcio}}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
        </table>


{% endblock %}