{% extends "base.html" %}

{% block content %}

    {% for recurs in recursos %}
        <li>
            <b><a href="{% url 'recurs' recurs.pk  %}"> {{ recurs.descripcio }} </a></b><br />
            <a href="{{ recurs.url }}">  {{ recurs.url }}</a>
            {{ recurs.datahora }}<br />
            {{ recurs.autor }}<br />
            {{ recurs.adjunt }}<br />
            {% if recurs.etiquetes.all.count > 0 %}
                <b>Etiquetes:</b>
            {% endif %}
            {% for etiqueta in recurs.etiquetes.all %}
                {{ etiqueta.nom}}/{{etiqueta.descripcio}}
            {% endfor %}
        </li>
    {% endfor %}

{% endblock %}