{% extends "base.html" %}
{% load static %}
{% csrf_token %}
{% block headers %}
    <link rel="stylesheet" type="text/css" href="{% static 'llistasResponsive.css' %}">
{% endblock %}
{% block content %}
    <a href="{%  url 'crearecurs' %}" class="btn btn-primary btn-lg">Nou Recurs</a>

<div id="content">
    <div class="columns">
    <ul>
    {% for zona in zona_recursos %}
        <li>
            <div class="thumbnail" >
                <div class="caption">
                    <h3><a href="zona/{{ zona.pk }}" > {{ zona.nom }} </a></h3>
                    <p>{{ zona.descripcio }}</p>
                </div>
            </div>
        </li>
    {% endfor %}
        <li>
            <div class="thumbnail" >
                <div class="caption">
                    <h3><a href="{% url 'recursos' %}" > Tots els Recursos </a></h3>
                    <p>{{ zona.descripcio }}</p>
                </div>
            </div>
        </li>
    </ul>
    </div>
</div>
{% endblock %}