
<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>

    {% block PREheaders %}{% endblock %}
    {% include 'headers.html' %}
    {% block headers %}{% endblock %}

    {% include 'autocomplete_light/static.html' %}
    <title>{% block title %}{% endblock %}</title>
</head>


<body>

    <style>
        #add_user {
            padding: 2px 4px 2px 4px;
            background: #cc0000;
            color: #ffffff;
            font-weight: bold;
            border-radius: 20px;
            position: absolute;
            float: left;
            font-size: 9px;
            margin-top: 39px;
{#            margin-left:30px#}
            z-index: 100;
}

    </style>

     <div id="sidebar">
			{% include "leftmenu.html" %}
	</div>

    <div id="div_header" >
        <div id="div_menu1">

                <a href="#">Mes Vists</a>/
                <a href="#">Proximitat</a>/
                <a href="#">Valoració</a>/
                <a href="#">Mes Comentats</a>/
                <a href="#">Prox.Social</a>
                {{ cela_context.pregunta }}

               <h3><a href="{% url 'forum' %}">{{ cela.pregunta }}</a>  <small>{{ cela.descripcio|truncatechars:140 }}
                   <a  href='{% url 'convidar_usu_cela' %}' title='Convidar persones al grup'>

                                <span class='glyphicon glyphicon-user ' ></span>

                            <span id ="add_user" class='glyphicon glyphicon-plus ' >
                            </span>
                            &nbsp;&nbsp;&nbsp;&nbsp;

                    </a>
                   </small>
               </h3>

        </div>

        <div id="div_user">
            {%  include "usermenu.html" %}
        </div>
    </div>

   <!-- <div id="wrapper">
	
		<!-- Sidebar

        <div id="div_toggle">
            <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"  ><</a>
        </div>
		  /#sidebar-wrapper -->
		
        <!-- Page Content -->
        <div id="page-content-wrapper" class="page-content-wrapper">
            {% block sidebar %} {% endblock %}
			{% block content %}
			{% endblock %}
        </div>
        <!-- /#page-content-wrapper -->

		
		<div id="div_footer">
            footer
            <div id="div_pulpo">
                 <img src="{% static "images/pulpo.gif" %}" align="right" height="70" width="70">
            </div>
        </div>
    <!--</div>
     /#wrapper -->

    <script>
        {% if messages %}

            {% for message in messages %}
                CallNotification('{{ message }}', '{{ message.extra_tags }}');
            {% endfor %}

        {% endif %}
    </script>

</body>

</html>