<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
    {% block PREheaders %}{% endblock %}
    {% include 'headers.html' %}
    {% block headers %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body>

    <style>
        #add_user {
            background: #af0100;
            color: #ffffff;
            font-weight: bold;
            border-radius: 30px;
        }
    </style>

     <div id="sidebar">
         {% if cela != '0' %}
			{% include "leftmenu.html" %}
         {% else %}
             {% include "leftmenurusc.html" %}
         {% endif %}
	</div>

    <div id="div_header" >
        <div id="div_menu1">

                {{ cela_context.pregunta }}

               <h3><a href="{% url 'forum' %}">{{ cela.pregunta }}</a>  <small>{{ cela.descripcio|truncatechars:140 }}</small>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                   <a  href='{% url 'convidar_usu_cela' %}' title='Convidar persones al grup'>
                       <img id ="add_user" src="{% static "images/icons/inviteCela.png" %}" width="30" height="30" />
                   </a>

               </h3>

        </div>

        <div id="div_user">
            {%  include "usermenu.html" %}
        </div>
    </div>

   <!-- <div id="wrapper">
	
		<!-- Sidebar

        <div id="div_toggle">
            <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"  ><</a>
        </div>
		  /#sidebar-wrapper -->
		
        <!-- Page Content -->
        <div id="page-content-wrapper" class="page-content-wrapper">
            <div id="page-content" class="page-content">
                {% block sidebar %} {% endblock %}
                {% block content %}
                {% endblock %}
            </div>

            {% include 'mapa.html' %}
        </div>
        <!-- /#page-content-wrapper -->

		
		<div id="div_footer">
            footer
            <div id="div_pulpo">
                 <img src="{% static "images/pulpo.gif" %}" align="right" height="70" width="70">
            </div>
        </div>
    <!--</div>
     /#wrapper -->

    <script>
        {% if messages %}

            {% for message in messages %}
                CallNotification('{{ message }}', '{{ message.extra_tags }}');
            {% endfor %}

        {% endif %}
    </script>

</body>

</html>