
<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <!--Jquey / UI-->
    <link rel="stylesheet" href="{% static 'js/jquery-ui-1.11.4/jquery-ui.css' %}">
    <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.11.4/jquery-ui.js'%}"></script>
    <!--Bootstrap-->
    <link href="{% static 'js/bootstrap-3.3.4/css/bootstrap.min.css' %}" rel="stylesheet">

    <!--JS Generales-->
    <script  src="{% static 'js/generic.js' %}" ></script>
    <!--CSS Generales-->
    <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <!-- CSS Notificacións -->
    <script  src="{% static 'js/notifIt.js' %}" ></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/notifIt.css' %}">


    {% block headers %}{% endblock %}
    {% include 'autocomplete_light/static.html' %}

</head>

<body>

     <div id="sidebar">
			{% include "leftmenuNEW.html" %}
	</div>

    <div id="div_header" >
        <div id="div_menu1">

                <a href="#">Mes Vists</a>/
                <a href="#">Proximitat</a>/
                <a href="#">Valoració</a>/
                <a href="#">Mes Comentats</a>/
                <a href="#">Prox.Social</a>
                {{ cela_context.pregunta }}

               <h3><a href="{% url 'forum' %}">{{ cela.pregunta }}</a>  <small>{{ cela.descripcio }}</small> </h3>

        </div>

        <div id="div_user">
            {%  include "usermenu.html" %}
        </div>
    </div>

   <!-- <div id="wrapper">
	
		<!-- Sidebar

        <div id="div_toggle">
            <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"  ><</a>
        </div>
		  /#sidebar-wrapper -->
		
        <!-- Page Content -->
        <div id="page-content-wrapper" class="page-content-wrapper">
            {% block sidebar %} {% endblock %}
			{% block content %}
			{% endblock %}
        </div>
        <!-- /#page-content-wrapper -->

		
		<div id="div_footer">
            footer
            <div id="div_pulpo">
                 <img src="{% static "images/pulpo.gif" %}" align="right" height="70" width="70">
            </div>
        </div>
    <!--</div>
     /#wrapper -->

    <script>
        {% if messages %}

            {% for message in messages %}
                CallNotification('{{ message }}', '{{ message.extra_tags }}');
            {% endfor %}

        {% endif %}
    </script>

</body>

</html>