<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
   {% block PREheaders %}{% endblock %}
    {% include 'headers.html' %}
    {% block headers %}{% endblock %}

    {% include 'autocomplete_light/static.html' %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body>

    <div id="div_header">
        <div id="div_menu1">
               <h3><a href="{% url 'forum' %}">{{ cela.pregunta }}</a></h3>
        </div>
        <div id="div_user">
            {%  include "usermenu.html" %}
        </div>
    </div>
    <div id="sidebar-wrapper">
			{% include "leftmenurusc.html" %}
	</div>
    <div id="page-content-wrapper">
        <div class="container-fluid">
           <div class="row">
                <div class="col-lg-12">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>

<script>
    {% if messages %}

        {% for message in messages %}
            CallNotification('{{ message }}', '{{ message.extra_tags }}');
        {% endfor %}

    {% endif %}
</script>


		<div id="div_footer">
            footer
            <div id="div_pulpo">
                 <img src="{% static "images/pulpo.gif" %}" align="right" height="70" width="70">
            </div>
        </div>

</body>

</html>
