{% load staticfiles %}


    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="UTF-8">

    <!--Jquey / UI-->
    <link rel="stylesheet" href="{% static 'js/jquery-ui-1.11.4/jquery-ui.css' %}">
{#    <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>#}

    <script src="{% static 'js/jquery-2.1.4.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.11.4/jquery-ui.js'%}"></script>


    <!--JS Generales-->
    <script  src="{% static 'js/generic.js' %}" ></script>
    <!--Bootstrap-->
    <link href="{% static 'js/bootstrap-3.3.4/css/bootstrap.min.css' %}" rel="stylesheet">
    <!--CSS Generales-->
{#    <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">#}
    <link rel="stylesheet" type="text/css" href="{% static 'styleRusc.css' %}" />

    <!-- CSS Notificacións -->
    <script  src="{% static 'js/notifIt.js' %}" ></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/notifIt.css' %}">
