{% extends "base.html" %}
{% load static %}
{% csrf_token %}
{% block headers %}
    <link rel="stylesheet" type="text/css" href="{% static 'llistasResponsive.css' %}">
{% endblock %}
{% block content %}
    <form action="{%  url 'crearecurs' %}">
        <select name="ddl_ficha" id="etiquetes" style="width: 160px" >
            {% for ficha in fiches %}
                 <option value="{{ ficha.pk }}">{{ ficha }}</option>
            {% endfor %}
        </select>
    <input type="submit" value="Nou Recurs" class="btn-primary btn-lg" />
    </form>
{#    <a href="{%  url 'crearecurs' %}" class="btn btn-primary btn-lg">Nou Recurs</a>#}
    <style>
    .zona_context{
        background-color: #0099ff;
        width: 50%;
        height: 50%;
        border:3px solid black;
        margin: 10px;
    }

    </style>

{#        {% for zonaContx in zonas_context %}#}
{#            <div class="zona_context"  >#}
{#                    <div class="caption">#}
{#                         <h3>{{ zonaContx.nom }}</h3>#}
{#                        <p>{{ zonaContx.descripcio }}</p>#}
{#                    </div>#}
{##}
{#            <div id="content">#}
{#            <div class="columns">#}
{#            <ul>#}
{#            {% for zona in zona_recursos %}#}
{#                <li>#}
{#                    <div class="thumbnail" >#}
{#                        <div class="caption">#}
{#                            <h3><a href="zona/{{ zona.pk }}" > {{ zona.nom }} </a></h3>#}
{#                            <p>{{ zona.descripcio }}</p>#}
{#                        </div>#}
{#                    </div>#}
{#                </li>#}
{#            {% endfor %}#}
{#            </ul>#}
{#            </div>#}
{#            </div>#}
{#         </div>#}
{#        {% endfor %}#}

        <div class="thumbnail" >
            <div class="caption">
                <h3><a href="{% url 'recursos' %}" > Tots els Recursos </a></h3>
                <p>{{ zona.descripcio }}</p>
            </div>
        </div>


{% endblock %}