{% extends "base.html" %}
{% load static %}
{% block content %}

    <h3>Perfil Usuari<b>{{ usuari.username }}</b></h3>
    {% if perfilusuari.avatar %}
        <img src="{{ perfilusuari.avatar.url }}" alt="avatar" height="120" width="120">
    {% else %}
        <img src="{% static "images/pulpo.gif" %}" alt="avatar" height="120" width="120">
    {% endif %}

    {{ usuari }}<br />
    {{ perfilusuari.website }} <br />
    {{ perfilusuari.user }}<br />
    {{ perfilusuari.cela }}<br />

{% endblock %}