{% extends "base.html" %}
{% load staticfiles %}
{% block headers %}
    <link href="{% static 'css/django-admin-widgets.css' %}" rel="stylesheet">
    <script  src="{% static 'js/django-admin.multiselect.js' %}" ></script>
    <script  src="{% static 'js/m2m.js' %}" ></script>
{% endblock %}
{#todo Les subscripcions disponibles només han de ser las de la cela#}
{%  block content %}
    <h3><b>Configuració específica de cel·la</b></h3><br>

    <form action="" enctype="multipart/form-data" method="post" >{% csrf_token %}
        <input type="submit" class="btn btn-primary btn-lg" value="Grabar" />
        {% if form.instance.avatar  %}
            <img src="{{ form.instance.avatar.url }}" alt="avatar" height="120" width="120"/>
        {% else %}
            <img src="{% static "images/pulpo.gif" %}" alt="avatar" height="120" width="120">
        {% endif %}
        {{ form.as_p }}
    </form>


    <script type="text/javascript">addEvent(window, "load", function(e) { SelectFilter.init("id_subscripcions", "subscripcions", 0, "/media/"); });</script>

{% endblock %}