/* http://techneblog.com/article/creating-responsive-multiple-column-list */
#content
{
    font-size: .75em; /* 12/16 */
    text-align: left;
    margin: 0px ; /*auto centers the container */
    padding: 10px; /* 25/650 */
}
/*CSS3 multiple columns.*/
/* Get em size for colums: 184/16 */
.columns
{
    -moz-column-width: 11.5em; /* Firefox */
    -webkit-column-width: 11.5em; /* webkit, Safari, Chrome */
    column-width: 11.5em;
}
/*remove standard list and bullet formatting from ul*/
.columns ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
/* correct webkit/chrome uneven margin on the first column*/
.columns ul li:first-child
{
    margin-top:0px;
}

/*  USAGE.
        <div id="content">
            <h1>Literary Characters</h1>
             <div class="columns">
                 <ul>
                    <li>William Brown</li>
                    <li>Miss Havisham</li>
                    <li>Rupert Campbell-Black</li>
                    .....
                   </ul>
             </div>
        </div>

*/