/*
li a {
    color: green;
}

body {
    background: white url("images/pulpo.gif") no-repeat right bottom;
}
*/
html {
    overflow-y: scroll;
    height: 100%;
}

body {
    padding: 0px;
    min-height: 100%;
    position: relative;
    color: #000;
    background-color: #FFC;
}

.nonfluid {
   width: auto !important;
}

#div_header, #div_footer {
    width: 100%;
    left: 0px;
}

#div_header{
    background-color: #12A9C7;
    height: 80px;
    top: 0px;
}
#div_menu1{
    float: left;
    display: inline;
    margin-left: 80px;
}

#wrapper{
    margin-bottom: 100px;
}

#div_user{
    margin: 20px;
    float: right;
    display: inline;
}

#div_footer {
    background-color: #12A9C7;
	height:100px;
	bottom:0;
    float: left;
    display: None;
}

.div_coment {
    position: relative;
    margin-left: 30px;
    border-width: 2px;
    border-left-style: dotted;
    background-color: #ffffff;
    border-color: #00399C;
    margin-top: 6px;
}

.div_post {
    background-color: #bce8f1;
}

#div_post_wraper{


}

#div_post_vote{
    display: inline-block;
    vertical-align: top;
}
#div_post_content_wraper {
    display: inline-block;
}
#div_post_info{
    display: inline-block;
    font-size: 10px;
    margin-left: 20px;
}
#div_post_titol{
    display: inline-block;
}

.sidebar{
    z-index: 10;
}

/*LEFT MENU */
/*
.row{
    margin-left:0px;
    margin-right:0px;
}

#wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
    height: 100%
}

#sidebar-wrapper {
    margin-left: -150px;
    left: 70px;
    width: 150px;
    background: #222;
    position: fixed;
    height: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
}

.sidebar-nav {
    display: block;
    float: left;
    width: 150px;
    list-style: none;
    margin: 0;
    padding: 0;
}
#page-content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
}
#wrapper.active {
    padding-left: 150px;
}
#wrapper.active #sidebar-wrapper {
    left: 150px;
}

#page-content-wrapper {
  width: 100%;
}

#sidebar_menu li a, .sidebar-nav li a {
    color: #999;
    display: block;
    float: left;
    text-decoration: none;
    width: 150px;
    background: #252525;
    border-top: 1px solid #373737;
    border-bottom: 1px solid #1A1A1A;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
}
.sidebar_name {
    padding-top: 25px;
    color: #fff;
    opacity: .7;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}


.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#main_icon
{
    float:right;
   padding-right: 65px;
   padding-top:20px;
}
.sub_icon
{
    float:right;
   padding-right: 65px;
   padding-top:10px;
}
.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

@media (max-width:767px) {
    #wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
}
#sidebar-wrapper {
    left: 70px;
}
#wrapper.active {
    padding-left: 150px;
}
#wrapper.active #sidebar-wrapper {
    left: 150px;
    width: 150px;
    transition: all .4s ease 0s;
}
}



*/




/*#div_content {*/
    /*padding-bottom:100px; *//* Height of the footer element */
    /*margin:20px;*/
    /*min-width: 700px;*/
    /*margin: 20px;*/
    /*float:left;*/

/*}*/

/*#wrapper {*/
    /*width: 100%;*/
    /*overflow: hidden;*/

/*}*/





/* https://color.adobe.com/es */