{% extends "base.html" %}
{%  load i18n %}
{% block title %}
    {% trans 'Nueva Ficha' %}
{% endblock %}
{%  load staticfiles %}
{% block headers %}

    <link href="{% static 'css/django-admin-widgets.css' %}" rel="stylesheet">
    <script  src="{% static 'js/django-admin.multiselect.js' %}" ></script>
    <script  src="{% static 'js/m2m.js' %}" ></script>


    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script src="{% static 'js/custom-formset.js' %}"></script>

    <link href="{% static 'css/select2.min.css' %}" rel="stylesheet" />
    <script src="{% static 'js/select2.js' %}"></script>

{% endblock %}

{% block content %}
        <script>

        </script>

    <h3>{% trans 'Nueva Ficha' %}</h3>


        <form action="" enctype="multipart/form-data" method="post" >{% csrf_token %}
            <h4>FICHA:</h4>
            <input name="nom_ficha" type="text" placeholder="Nombre ficha" required>

            <table>
                <thead>
                    <tr>
                        <td>{% trans 'Nombre Campo' %}</td>
                        <td>{% trans 'Obligatorio' %}</td>
                        <td>{% trans 'Ayuda Campo' %}</td>
                        <td>{% trans 'Eliminar' %}</td>
                    </tr>
                </thead>
                <tbody>
                {% for ficha_form in fichas_formset %}
                    <tr class="ficha_form">
                        <td>{{ ficha_form.descrip }}</td>
                        <td>{{ ficha_form.obliatorio }}</td>
                        <td>{{ ficha_form.hint }}</td>
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                    {{ fichas_formset.management_form }}
                </tfoot>
            </table>

        <br/>
            <input type="submit" class="btn btn-primary btn-lg" value="NovaFicha" />
        </form>
       <script>
        $('.ficha_form').formset({
            addText: 'Añadir información a la Ficha',
            deleteText: '<span class="glyphicon glyphicon-remove"></span>'

        });
    </script>
{% endblock %}