{% extends "base.html" %}

{% block content %}

    {% for post in posts %}
        <li>
            <a href="{% url 'post' post.pk  %}">  <b>{{ post.titol }}</b></a>
        </li>
    {% endfor %}
    {% for recurs in recursos %}
        <li>
            <a href="{% url 'recurs' recurs.pk  %}">  <b>{{ recurs.url }}</b></a>

        </li>
    {% endfor %}
    {% for etiqueta in etiquetes %}
        <li>
             <a href="{% url 'etiqueta' etiqueta.pk  %}">  <b>{{ etiqueta.nom}}</b></a> {{etiqueta.descripcio}}
        </li>
    {% endfor %}

{% endblock %}